.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.container{
/*  display: inline-block;*/
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  flex-flow: row wrap;*/
}

.input{
  displey: inline;

}

.done {
  color: red;
  margin: auto auto;
  text-decoration: line-through;
  justify-content: center;
}

.delete{
  font-size: 12;
  color: #fff;
  background: blue;
}

.delete:hover{
  opacity:0.6;
}

span{
  padding: 10px;
}

span:hover{
  opacity:0.5;
}